.main {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    margin: auto;
    font-size: 80px;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.form input {
    font-size: 100%;
    text-align: center;
    width: 1.25em;
    height: 1em;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    white-space: pre;
    margin-top: 2em;
}

.output {
    flex: 1;
    font-size: 120px;
    text-align: center;
}

